@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Poppins:wght@500&display=swap');




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1563px;
    width: 100%;
    height: 777px;
    background-color: #EFF0F1;
    padding: 62px; 
    
}

.navbar{
    max-width: 443px;
    width: 100%;
    height: 108px;
    background-color: #EFF0F1;
    
}

.head{
    max-width: 314px;
    width: 100%;
    height: 40px; 
    flex-direction: row;
    font-family: 'Merriweather', serif;
    font-size:32px;
}


.secenek{
    max-width: 443px;
    width: 100%;
    height: 44px;
     display: flex;
    
    margin-top: 24px;
}

.op1{
    max-width: 80px;
    width: 100%;
    height: 44px;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-left: 7px;
    border-radius: 8px;

    font-family: 'Poppins', sans-serif;
    font-size:16px;
    background-color: #FFF;
    
}

.op1:hover{
    background-color: skyblue;
    color: white;
    cursor: pointer;
}


.main{
    max-width: 1439px;
    width: 100%;
    height: 489px;
    background-color: #EFF0F1;
    display: flex;
    gap: 4rem;
}

.card{
    max-width: 437px;
    width: 100%;
    height: 489px;
    background-color: #FFF;
    margin-top: 56px;
    border-radius:32px;
    padding: 24px;
    
   
}

.image{
    max-width: 389px;
    width: 100%;
    height: 381px;
    background-color: #FFF;

}

.kucukresim{
    display: flex;
    gap: 1rem;
    margin-top: 12px;
}

.yazi{
    max-width: 389px;
    width: 100%;
    height: 36px;

    background-color: #FFF;
    margin-top: 24px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    font-size:24px;

}
